body {
    padding-top: 60px;
}

.link {
    border-bottom: 1px dashed #0088CC;
    line-height: 15px;
    display: inline-block;
    color: #0088CC;
}
.link:hover, .link:focus {
    border-bottom: 0;
    cursor: pointer;
}

.social_login { margin-bottom: 20px; }
.social_login .social_login__button { width: 70px; }
.site_login { margin-top: 20px; }
