1 БАЗОВЫЙ ШАБЛОН

Базовый шаблон - это набор блоков, который есть на каждой странице за определёнными исключениями:
- страница 500 "ошибка сервера";
- страница 404 "нет такой страницы";
- страница 410 "контент удалён";
- страница "ведётся обновление сайта / технические работы".

Базовый шаблон состоит из двух колонок: большая с основным контентом (3/4 от ширины страницы) и маленькая с вспомогательным контентом (1/4 от ширины страницы).

    1.1 НАВИГАЦИОННАЯ ПАНЕЛЬ (header)
    - мини-логотип, который также ссылка на главную страницу;
    - меню из пунктов: архив тайтлов, архив сабов, форум;
    - поиск по сайту, состоящий из текстового ввода с плейсхолдером "поиск" и кнопки "найти";
    - если пользователь залогинен, то показываем контрол входа на сайт [1.2], иначе контрол профиля.
    Панель имеет ширину 100% и зафиксирована в верхней части экрана.

    1.2 КОНТРОЛ ВХОДА
    - внешне представляет собой клакабельный блок (ссылку или кнопку);
    - при клике на нём открывается дропдаун, в котором:
    -- заголовок "вход на сайт";
    -- 6 (шесть) квадратных кнопок для логина через социальные сети VK, Twitter, FB, Google, Yandex, LJ (фактически, тут должны быть все популярные логин-провайдеры, всё остальное нас не волнует, однако возможность залогиниться через никому неизвестную говносоциалочку мы оставим, читайте дальше);
    -- далее ссылка "все способы входа", которая ведёт на страницу логина [2.1];
    -- далее разделяющая полоса;
    -- в конце блока - форма входа через профиль [2.4.1].

    1.3 ФУТЕР
    - значок копирайта, годы ( :3 );
    - ссылки на разделы меню и главную;
    - если пользователь залогинен, по показываем ссылку на профиль, иначе ссылки на вход;
    - статистику посещений (добавить через пару месяцев после запуска проекта);
    - ссылки на правила ресурса и FAQ
    - ссылки на IRC и аккаунты/паблики проекта в социальных сетях;
    Футер имеет ширину 100%, однако текст выравнен по основной части шаблона.

    1.4 СООБЩЕНИЯ
    Сообщения должны информировать пользователя о реакции сайта на его действия (отправка сообщения в обратную связь, успешная регистрация на сайте, невозможность войти на сайт)

    Способ отображения: в виде монотонного блока с закруглёнными уголками прямо под навигационной панелью. Если реакция на действие пользователя получена без перезагрузки страницы (AJAX), то сообщение должно "всплыть" в виде зафиксированного блока в верхнем правом углу экрана (дизайн блока такой же). Зафиксированное сообщение самостоятельно пропадает через 7 секунд, либо его можно убрать нажав на нём ЛКМ, отведя курсор вправо, и отжав ЛКМ. При этом блок анимированно уплывёт вправо и исчезнет (как сообщения в Mac OS X, да :333)

    Блоки могут быть зелёного (успешная реакция), голубого (информирование) и красного (ошибочная реакция) цветов.


2 СТРАНИЦЫ СВЯЗАННЫЕ С ПОЛЬЗОВАТЕЛЕМ
    2.1 СТРАНИЦА ВХОДА
    Цели существования этой страницы:
    - здесь можно залогиниться на сайт, если это нельзя сделать через контрол входа в нави-баре (например, если пользователь хочет залогиниться через непопулярного логин-провайдера, типа rambler'а)
    - сюда можно перенаправлять пользователя если он пытается попасть в раздел сайта, который доступен только зарегистрированному пользователю (редактирование профиля, редактирование перевода). При этом, если вход успешен, то обязательно перенаправлять пользователя в то место, откуда он на страницу входа был переброшен.

    Страница состоит из двух колонок:
    - в первой колонке будут в несколько строк идти кнопки с логотипами логин-провайдеров, логика при клике на кнопке соответствует [2.3];
    - во второй колонке располагается форма входа через профиль [2.4.1]

    2.2 РЕГИСТРАЦИЯ
    Регистрация на сайте осуществляется через социальные сети. Чтобы инициировать регистрацию пользователю нужно сначала в контроле входа [1] или на странице входа [2.1] нажать на кнопку социальной сети, через которую он желает войти на сайт. Далее он логинится в социальной сети и перенаправляетя обратно на сайт. Тут наступает завершающий шаг регистрации - ему нужно заполнить форму, которая содержит поле "e-mail" и чекбокс "я согласен с условиями использования сервиса [2.5] (ссылка на эти условия тоже здесь)".

    2.3 ВХОД ЧЕРЕЗ ЛОГИН-ПРОВАЙДЕРА
    Тоже, что и регистрация [2.2], только после перенаправления от логин-провайдера на сайт пользователь уже считается авторизованным.

    2.4 ВХОД ЧЕРЕЗ ПРОФИЛЬ
    Залогиниться через профиль можно в следующих случаях:
    - пользователь установил в своём профиле пароль.
    - пользователь забыл пароль и инициировал процедуру восстановления пароля [2.4.2]

        2.4.1 ФОРМА ВХОДА ЧЕРЕЗ ПРОФИЛЬ
        Поля:
        - текстовое поле имя пользователя
        - текстовое поле пароль
        - чекбокс "запомнить меня" (сохраняет сессию в куках на длительный срок, если не поставлена - сессия сбросится при закрытии браузера)
        - ссылка "восстановить пароль"

        Если пользователь ввёл правильные данные, то сайт его авторизует, иначе пользователь отправляется на форму входа с предзаполненными полями "имя пользователя" и "запомнить меня" и видит сообщение об ошибке "неверное имя пользователя или пароль"
        Опционально, после неудачной 10й попытки заставлять пользователя вводить ещё и капчу.

        2.4.2 ВОССТАНОВЛЕНИЕ ПАРОЛЯ
        Если пользователь потерял доступ к логин-провайдеру, на который завязана его учётная запись на нашем сайте, он может восстановить доступ и войти при помощи своего имени пользователя и сгенерированного сайтом пароля.

        Суть такова:
        - пользователь переходит на страницу восстановления пароля, где его просят ввести email на который зарегистрирована его учётная запись;
        - по сабмиту формы на email пользователя отправляется письмо с уникальной ссылкой, которая действительна 60 минут;
        - пользователь переходит по ссылке, на открывшейся странице вводит в форму новый пароль (дважды), нажимает сохранить;
        - пользователь авторизуется, перенаправляется в свой профиль с сообщением "пароль восстановлен", уникальная ссылка становится недействительной.


    2.5 ПРАВИЛА ИСПОЛЬЗОВАНИЯ СЕРВИСА
    Структурированная простыня текста для огораживания пользователей от явного зла (типа прямых оскорблений, экстримистских материалов и т.п.)

    2.6 ПРОФИЛЬ
    under construction...


3 ГЛАВНАЯ СТРАНИЦА
Цели страницы:
- страница слушит отправной точкой ко всем разделам сайта;
- страница показывает последние изменения на сайте

    3.1 ПРОМОБЛОК (основная колонка)

    Это отключаемый блок в самом верху под меню с разными объявлениями, типа "требуется дизайнер чтобы дизайнить сайт (ссылка на форум)", или "у нас нет денег, донатте нам (ссылка)", или "мы запилили новую фичу, попробуйте (ссылка на FAQ)". Контент может быть любым

    У этого блока должен быть закрывающий крестик, и если блок у юзера один раз был закрыт, то больше его не показывать ему

    3.2 БЛОК ИЗМЕНЕНИЙ В АРХИВЕ САБОВ (основная колонка)
    Представляет собой вертикальный список состоящий из блоков релиза.

    Блок релиза (примерно как на каге):
    - слева фотка анимы;
    - справа сначала идёт название;
    - под ним список групп, которые недавно релизили в эту группу, и краткое описание изменения (либо генерировать автоматически "добавлена 8я серия, серии 1-7 отредактированы", либо как на каге показывать цифрами "1-8", либо выделить ограниченное число символов и дать фансабберам самостоятельнописать комментарий к релизу);

    # PROPOSAL: алсо, предлагаю рассмотреть возможность группировки релизов по анимам также, как в Твиттере, в разделе Connect, группируются по постам ретвиты. (@hackprime пока не будет это описывать и возьмётся за другие разделы)

    3.3 БЛОК С ССЫЛКАМИ (вспомогательная колонка)
    Тут целесообразно разместить ссылки на страницы, которые не попали в меню:
    - FAQ
    - Условия использования сервиса
    - Обратная связь
    - ... (Статьи, Вики и т.п.)

    3.4 БЛОК С РЕЙТИНГАМИ
    Варианты:
    - Самый лучший перевод
    - самая лучшая группа
    - Самый лучший автор
    - Самый худший ... (аналогично)
    Рейтинги считать по карме [9]


4 АРХИВ ТАЙТЛОВ

    4.1 СТРАНИЦА СПИСКА ТАЙТЛОВ

    В списке тайтлов два элемента: список и фитр.

        4.1.1 СПИСОК ТАЙТЛОВ
        Представляет из себя таблицу в основной колонке шаблона с такими столбцами:
        - маленькая картинка;
        - основное название (в жопу синонимы);
        - иконка "есть перевод", "есть частичный перевод";
        - Тип (TV/OVA/MOVIE/SPECIAL/ONA/OTHER);
        - рейтинг (@hackprime: хотя я думаю что он тут не нужен);
        - даты выхода в 2 строки.
        Из-за сравнительно большой картинки можно писать в 2 строки для каждого тайтла.

        Названия столбцов таблицы - ссылки при клике на которые происходит сортировка. И никаких стрелочек рядом с названиями колонок, они только путаю. Текущая сортировка словами будет записана в фильтре [4.1.2].

        4.1.2 ФИЛЬТР ТАЙТЛОВ
        Фильтр состоит из двух частей:
        - Алфавитный указатель. Это строка со ссылками "Все A B C ... Z". Располагается в основной колонке.
        - Фильтр по параметрам:
        -- Указатель сортировки списка, например "отсортировано по названию, в алфовитном порядке", "отсортировано по году, сначала новые". Основная концепция формулировки: чтобы при первом прочтении было понятно.
        -- Тип (либо список чекбоксов, либо multiple select chosen);
        -- Годы (Диапазон определяемый двумя инпутами, лучше селектами);

        Как только страницу отскроливают так, что фильтр перестаёт полностью попадать в экран, то фильтр фиксируется на экране (обе части, и алфавитный указатель и фильтр по параметрам)

        При наведении курсора на иконку "есть перевод" можно показывать балун с последними мэинтейнерами в это анимцо (подгружать данные AJAX'ом либо вместе со страницей).

        У списка есть разбиение по страницам. Причём показывать ссылки на все страницы сразу без всяких многоточий, но со скроллером (как на упячке).
        При это надо сделать заранее большой IPP (items per page) равный 150.

    4.2 СТРАНИЦА ТАЙТЛА
        сегодня не осилил...


5 АРХИВ САБОВ
    сегодня не осилил...


6 ПОДПИСКА ПО RSS

    6.1 RSS по умолчанию
    По умолчанию RSS выдаёт все релизы в архиве субтитров. Формат релиза описан в [3.1].
    Доступ к обычной RSS-ленте должен быть по адресу /rss/.

    6.2 Фильтруемый RSS
    Нужно также предусмотреть страницу для настройки индивидуальной RSS-ленты.
    Страница должна находится по адресу /rss/specified/.
    На этой странице должна быть форма с такими полями:
    - группа радиобатонов "фильтровать по тайтлу" ("все тайтлы", "все, кроме перечисленных", "только перечисленные")
    - группа радиобатонов "фильтровать по группе" ("все группы", "все, кроме перечисленных", "только перечисленные")
    - кнопка-ссылка "подписаться" на которую завязанна сгенерированная по указанным параметрам фильтрации ссылка вида /rss/specified/?only_titles=1_2_54&except_groups=3_4_66_343

    Выбор вариантов у "все, кроме перечисленных" и "только перечисленные" сделать в виде multiple select chosen (http://harvesthq.github.io/chosen/)


7 ПОИСК

Поиск можно вести из формы поиска в навигационной панели, при сабмите этой формы пользователя перебросит на страницу с результатами поиска.
Особенности:
- поиск должен вестись по 3 сущностям: тайтл, группа и автор. Выводить результаты только по тем сущностям, по которым что-то удалось найти. Если ничего найти не удалось - пишем об этом на странице результатов.
- при введении более 3х символов в поле поиска, при наличии результатов должен сработать автокомплит с несколькими наиболее релевантными вариантами. При клике по варианту - тут же перенаправляем пользователя на страницу этого варианта.


8 ФОРУМ
under construction...


9 КАРМА
under construction...


10 ДРУГИЕ СТРАНИЦЫ
Тут описываем страницы, которые не попали в другие разделы.

    10.1 Обратная связь
    Ссылка "обратная связь" располагается в футере и блоке с ссылками [3.3].
    При клике на ссылку открывается модальное окно с формой. Поля формы:
    - для неавторизованного пользователя поля email и имя (обязательное), для авторизованного пользователя на этом месте показываем его аватарку и юзернейм;
    - тектовое поле (обязательное);
    - инпут для прикрепления картинки (необязательное).

    E-mail проверяется не только на обязательность, но и на соответствие паттерну email'а (регулярным выражение)

    Когда форма заполнена и отправлена - модальное окно закрывается и появляется зелёное сообщение [1.4] "Ваше сообщение отправлено администрации".
